<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/borrow_resource.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="nav-container">
            <div class="nav-links">
                <a href="{% url 'borrowed' %}">Borrowed Resources</a>
                <a href="{% url 'resource' %}">Available Resources</a>
                <a href="{% url 'logout' %}" class="logout-button">Log Out</a>
            </div>
        </div>
    </nav>

    <div class="content-container">
        <h2>BORROW RESOURCE</h2>
        <form method="POST">
            {% csrf_token %}
            <p>Resource ID: {{ resource.resource_id }}</p>
            <p>Resource Name: {{ resource.resource_name }}<br></p>
            <p>Available Quantity: {{ resource.resource_quantity }}<br></p>

            {{ form.as_p }}
            <button type="submit">Borrow</button>
        </form>
    </div>

</body>
</html>